header {

  padding: 78px 0 15px;
}

body {
  background-image: url('../images/booka.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.author-card-class, .book-card-class {
  margin: 15px 0px 15px 0px;
  padding: 5px;
  background-color: #587082;
}

.add-many-books-btn {
  margin: 5px 0px 5px 45%;
}

.card-img {
  height: 260px;
  width: 100%;
}

.card-img {
opacity: .85;
}

.card-img-overlay {
  padding: 10% 10% 1% 5%;
}

.nav-buttons {
  margin: 1px -19px 0px 0px;
  /*padding: -10px;*/
}
.nav-buttons button {
  margin: .3em;
  background-color: #587082;
  border-color: #587082;
  font-size: .76em;
}

.nav-buttons button:hover {
  background-color: #087082;
  border-color: #087082;
}


.bg-primary {
    background-color: #587082 !important;
}

.search-bar-pos {
  margin-left: 26%;
}

.remove-div {
  text-align: center;
}

.search-bar-container {
  width: 100%;
  margin: auto;
}

.single-book-add {
  margin: 25px;

}

.single-book-add input{
  padding-right: 20%;
  border: 1px solid black;
}

.add-book-btn-div {
  margin-top: -5px;
}

.remove-by-title, .remove-by-author, .get-by-title, .get-by-author{
    margin: auto;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.display-3 {
  font-size: 20px;
}


@media (min-width: 992px) {
  header {
    padding: 78px 0 15px;
  }
}

@media (max-width: 760px) {
  .hide-search {
    display: none;
  }
}
