body {
  margin: auto;
}
#search-drop-down {
  width: 10%;
}

.jumbo-section {
  height: 100%;
  width: 100%;
}

/*.jumbotron {
  border: 1px solid green;
}

.well {
  border: 1px solid blue;
}*/

.search-bar-container {
  width: 100%;
  margin: auto;
}

.single-book-add {
  margin: 25px;

}

.single-book-add input{
  padding-right: 20%;
  border: 1px solid black;
}

.add-book-btn-div {
  margin-top: -5px;
}

.form-control {
  padding: 0px 50% 0px 0px;
}

/* nav bar search box - drop down menu button */
.navbar .navbar-search .dropdown-menu {
  min-width: 25px;
}

.dropdown-menu .label-icon {
  margin-left: 5px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.display-3 {
  font-size: 20px;
}
